
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<main>
    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title" style="color: #272727;">Trend Blogger</h2>
            <span class="home-subtitle" style="color: #272727;">Your source of great content</span>
        </div>
    </section>

    <section class="about container" id="about">
        <div class="contentBx">
            <h2 class="titleText">Bắt kịp xu hướng</h2>
            <p class="title-text">
                Công ty của chúng tôi đã đạt được một thành công đáng kể. Đội ngũ nhân viên không chỉ hoàn thành công việc với sự hạnh phúc mà còn với lòng cam kết, chúng tôi cung cấp mọi hỗ trợ có thể.Tôi không thích việc đánh mất mình vì sự khác biệt, mà thay vào đó, chúng tôi coi đó là một cơ hội để phát triển và đổi mới.
                <br>Công ty chúng tôi đã đạt được thành công đáng kể. Tuy nhiên, liệu người đó có thể trải nghiệm niềm vui nếu không có sự nịnh nọt từ khi mới sinh ra?
            </p>
            <a href="#" class="btn2">Read more</a>
        </div>
        <div class="imgBx">
            <img src="~/assets/images/class-4.jpg" alt="" class="fitBg">
        </div>
    </section>

    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="tech">health</span>
        <span class="filter-item" data-filter="food">Food</span>
        <span class="filter-item" data-filter="news">practice</span>
    </div>

    <div class="post container">
        <!-- Post 1 -->
        <div class="post-box tech">
            <img src="~/assets/images/img1.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 2 -->
        <div class="post-box food">
            <img src="~/assets/images/img2.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 3 -->
        <div class="post-box food">
            <img src="~/assets/images/img3.jpg" alt="" class="post-img">
            <h2 class="category">Food</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 4 -->
        <div class="post-box news">
            <img src="~/assets/images/img4.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 5 -->
        <div class="post-box tech">
            <img src="~/assets/images/img5.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 6 -->
        <div class="post-box news">
            <img src="~/assets/images/img4.jpg" alt="" class="post-img">
            <h2 class="category">News</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 7 -->
        <div class="post-box tech">
            <img src="~/assets/images/img7.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 1 -->
        <div class="post-box news">
            <img src="~/assets/images/img8.jpg" alt="" class="post-img">
            <h2 class="category">News</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 9 -->
        <div class="post-box food">
            <img src="~/assets/images/img10.jpg" alt="" class="post-img">
            <h2 class="category">Food</h2>
            <a href="#" class="post-title">How to create the best UI with Figma</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="~/assets/images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
    </div>
</main>



